event-management-soap/src/main/resources/wsdl/service.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://wsdltypes.dagi.sose.univaq.it/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="EventManagementImplService"
	targetNamespace="http://wsdltypes.dagi.sose.univaq.it/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://wsdltypes.dagi.sose.univaq.it/"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://wsdltypes.dagi.sose.univaq.it/">
			<!--Complex type for event data-->		
			<xs:complexType name="eventData">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="description" type="xs:string" />
					<xs:element name="location" type="xs:string" />
					<xs:element name="startDate" type="xs:dateTime" />
					<xs:element name="endDate" type="xs:dateTime" />
					<xs:element name="nrTickets" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<!--Complex type for ticket availability data-->		
			<xs:complexType name="ticketAvailability">
				<xs:sequence>
					<xs:element name="referenceDate" type="xs:dateTime" />
					<xs:element name="remainingTickets" type="xs:int" />
				</xs:sequence>
			</xs:complexType>			
			<xsd:element name="createEventRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="xs:string" />
						<xs:element name="description" type="xs:string" />
						<xs:element name="location" type="xs:string" />
						<xs:element name="startDate" type="xs:dateTime" />
						<xs:element name="endDate" type="xs:dateTime" />
						<xs:element name="nrTickets" type="xs:int" />
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="createEventResponse">			
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eventId" type="xs:long" />
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="eventCatalogueRequest">			
				<xs:complexType>
					<xs:sequence>
						<xs:element name="page" type="xs:int" />
						<xs:element name="sortBy" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="eventCatalogueResponse">			
				<xs:complexType>
					<xs:sequence>
						<xsd:element name="eventList">			
							<xs:complexType>
								<xs:sequence>
									<xs:element name="eventData" type="tns:eventData" minOccurs="0" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xsd:element>
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="fetchEventInfoRequest">			
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eventId" type="xs:long" />
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="fetchEventInfoResponse">			
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eventData" type="tns:eventData" />
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="purchaseMenuRequest">			
				<xs:complexType>
					<xs:sequence>
						<xs:element name="eventId" type="xs:long" />
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="purchaseMenuResponse">			
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ticketAvailability" type="tns:ticketAvailability" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="createFeedbackRequest">			
				<xs:complexType>
					<xs:sequence>
						<xs:element name="userId" type="xs:long" />
						<xs:element name="eventId" type="xs:long" />
						<xs:element name="rating" type="xs:int" />
						<xs:element name="body" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="createFeedbackResponse">			
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
			<xsd:element name="ServiceException">			
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="message"
							type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xsd:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="createEventRequest">
		<wsdl:part element="tns:createEventRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createEventResponse">
		<wsdl:part element="tns:createEventResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventCatalogueRequest">
		<wsdl:part element="tns:eventCatalogueRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="eventCatalogueResponse">
		<wsdl:part element="tns:eventCatalogueResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchEventInfoRequest">
		<wsdl:part element="tns:fetchEventInfoRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchEventInfoResponse">
		<wsdl:part element="tns:fetchEventInfoResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="purchaseMenuRequest">
		<wsdl:part element="tns:purchaseMenuRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="purchaseMenuResponse">
		<wsdl:part element="tns:purchaseMenuResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createFeedbackRequest">
		<wsdl:part element="tns:createFeedbackRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="createFeedbackResponse">
		<wsdl:part element="tns:createFeedbackResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="ServiceException">
		<wsdl:part element="tns:ServiceException" name="ServiceException">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="eventManagementPort">
		<wsdl:operation name="createEvent">
			<wsdl:input message="tns:createEventRequest" name="createEventRequest">
			</wsdl:input>
			<wsdl:output message="tns:createEventResponse"
				name="createEventResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ServiceException" name="ServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="eventCatalogue">
			<wsdl:input message="tns:eventCatalogueRequest" name="eventCatalogueRequest">
			</wsdl:input>
			<wsdl:output message="tns:eventCatalogueResponse"
				name="eventCatalogueResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ServiceException" name="ServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="fetchEventInfo">
			<wsdl:input message="tns:fetchEventInfoRequest" name="fetchEventInfoRequest">
			</wsdl:input>
			<wsdl:output message="tns:fetchEventInfoResponse"
				name="fetchEventInfoResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ServiceException" name="ServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="purchaseMenu">
			<wsdl:input message="tns:purchaseMenuRequest" name="purchaseMenuRequest">
			</wsdl:input>
			<wsdl:output message="tns:purchaseMenuResponse"
				name="purchaseMenuResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ServiceException" name="ServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createFeedback">
			<wsdl:input message="tns:createFeedbackRequest" name="createFeedbackRequest">
			</wsdl:input>
			<wsdl:output message="tns:createFeedbackResponse"
				name="createFeedbackResponse">
			</wsdl:output>
			<wsdl:fault message="tns:ServiceException" name="ServiceException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EventManagementImplServiceSoapBinding"
		type="tns:eventManagementPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createEvent">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createEventRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createEventResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="eventCatalogue">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="eventCatalogueRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="eventCatalogueResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="fetchEventInfo">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="fetchEventInfoRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="fetchEventInfoResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="purchaseMenu">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="purchaseMenuRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="purchaseMenuResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createFeedback">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="createFeedbackRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="createFeedbackResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="ServiceException">
				<soap:fault name="ServiceException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EventManagementImplService">
		<wsdl:port binding="tns:EventManagementImplServiceSoapBinding"
			name="EventManagementImplPort">
			<soap:address
				location="http://localhost:8081/event-management-soap/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>